.slider-container {
    padding: 2rem 1rem;
    background-color: #f8f8fc;
    color: #333;
}

.slider-title {
    font-size: 24px;
    margin-bottom: 1rem;
    text-align: center;
    color: #6C0063;
}

.slider {
    display: flex;
    gap: 3rem;
    padding: 2rem 0;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.slider::-webkit-scrollbar {
    height: 6px;
}

.slide-card {
    max-width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.slide-card:hover {
    transform: scale(1.03);
}

.slide-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    text-align: center;
}

.slide-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.slide-description {
    font-size: 14px;
    color: #555;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .slider-title {
        font-size: 20px;
    }

    .slide-card {
        min-width: 80%;
        max-width: 90%;
        padding: 0.8rem;
    }

    .slide-title {
        font-size: 15px;
    }

    .slide-description {
        font-size: 13px;
    }
}
