.problema-solucion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2.5rem;    
}
.problema, .solucion {
    flex: 1 1 300px;
    background-color: #fcf9fa;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
    color: #070003;
    text-align: center;
    font-size: 1.1rem;
    display: grid;    
}
.problema h3, .solucion h3 {
    color: #6C0063;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.5rem;
    
}

